#naslov {
  font-size: 2.3em;
  font-weight: bold;
}

.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding: 0;
}

.modal-content {
  width: 80%;
  margin-inline: auto;
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.form-control {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding-left: 10px;
}

.myform .btn {
  width: 100%;
  font-weight: 800;
  padding: 0.5em 0;
}

#nisi-korisnik {
  text-align: center;
  padding-top: 2em;
  color: grey;
}

#prijava-mini {
  color: #64B245;
  text-decoration: none;
}

#prijava-mini:hover {
  color: #fff;
}

/*Kraj LOGIN FORM*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.bread {
  text-decoration: none;
}

.image {
  height: 80px;
  width: 80px;
}

.z {
  text-transform: uppercase;
  text-decoration: none;
}

.parent {
  width: 100%;
  height: 400px;
}

.navbar-nav {
  text-align: center;
}

.slika {
  background-size: cover;
  min-height: 60vh;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgb(33, 37, 41);
  transition: width 200ms ease;
}

.sidebar-link:hover {
  color: white;
}

.link-text:hover {
  opacity: 0.5;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  width: 100%;
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: white;
  position: relative;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.sidebar-link img {
  min-width: 2rem;
  margin: 0 1.5rem;
  width: 2rem
}

.ikonice {
  max-width: 2rem;
  max-height: 2rem;
}

@media only screen and (max-width:600px) {
  .sidebar {
    width: 100vw;
    height: 5rem;
    overflow-x: auto;
  }

  .sidebar::-webkit-scrollbar {
   display: none;
  }
  .sidebar-nav {
    flex-direction: row;
  }

  .sidebar-link {
    justify-content: center;
  }

  .sidebar-item .selected {
    border-bottom: 5px solid #64B245;
    background-color: #1B1F23;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .slikaPosla {
    width: 150px;
    height: 100px;
  }

  .slikaPosla span {
    display: block;
    position: absolute;
    bottom:10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000;
  }

}

@media only screen and (min-width:600px) {
  .sidebar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index:10;
  }

  .sidebar:hover {
    width: 13rem;
  }

  .sidebar:hover .link-text {
    display: block;
  }

  .aa {
    border-bottom: 20px solid #64B245;
  }

  .sidebar-item .selected {
    border-left: 5px solid #64B245;
    background-color: #1B1F23;
  }

  .slikaPosla {
    width: 300px;
    height: 200px;
  }

  .slikaPosla span{
    display: block;
    position: absolute;
    bottom:10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000;
  }
}

.slikaPosla {
  position: relative;
  border-radius: 10px;
  background-size: cover;
  margin-left: 10px;
  text-decoration: none;
}
.slikaPosla:hover {
  opacity: 0.7;
  transition: opacity 0.4s;
}