@font-face{
  font-family: Grifter;
  src: url(../font/grifterbold.otf);
}
#reg-right {
  text-align: right;
}

.reg-space {
  height: 1rem;
}

#reg-title-top {
  height: 3rem;
}

.register-textbox {
  border: none;
  border-bottom: 1px solid white;
  background-color: #212529;
  color: white;
  width: 100%;
  font-size: 25px;
}

.reg-drop {
  background-color: #242529;
  color: white;
  border: solid 2px white;
}

.upload-rad {
  border-radius: 10px;
  border: solid 2px white;
  background-color: #212529;
}

.radius-register {
  border-radius: 10px;
}

.radius-register-mc {
  border-radius: 20px;
}

.modal-dugme {
  color: #64B245;
}

@media (max-width: 576px) {
  .razmak {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.register-textbox {
  border: none;
  border-bottom: 1px solid white;
  background-color: #212529;
  color: white;
  width: 100%;
  font-size: 25px;
}
.dropdown-register{
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 0px 10px;
  border-radius: 10px;
  height: 42px;
  width: 100%;
  font-size: 20px;
}


.register-img{
  border-radius: 5px;
}





.btn-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  font-size: 18px;
  background: #8dc63f;
  color: #fff;
}

svg {
  margin: 0 0 0 10px;
}

.btn-custom:hover svg {
  margin: 0 0 0 25px;
  transition: 0.3s;
}

.btn-custom:not(:hover) svg {
  transition: 0.3s;
}

.btn-custom:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
}

.btn-custom:not(:active) {
  transition: 200ms;
}


.btn-custom2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  font-size: 18px;
  background: #8dc63f;
  color: #fff;
}

svg {
  margin: 0 0 0 10px;
}

.btn-custom2:hover svg {
  margin: 0 0 0 25px;
  transition: 0.3s;
}

.btn-custom2:not(:hover) svg {
  transition: 0.3s;
}

.btn-custom2:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
}

.btn-custom2:not(:active) {
  transition: 200ms;
}
