@font-face{
  font-family: Grifter;
  src: url(../font/grifterbold.otf);
}
#naslov {
  font-size: 2.3em;
  font-weight: bold;
}

.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding: 0;
}

.modal-content {
  width: 80%;
  margin-inline: auto;
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0 #7e7e7e;
  background-color: inherit;
  color: #fff;
}

.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}

.myform .btn {
  width: 100%;
  font-weight: 800;
  padding: 0.5em 0;
}

#nisi-korisnik {
  text-align: center;
  padding-top: 2em;
  color: grey;
}

#prijava-mini {
  color: #64B245;
  text-decoration: none;
}

#prijava-mini:hover {
  color: #fff;
}
/*Kraj LOGIN FORM*/



* {
  margin: 0;
  padding: 0;
  font-family:'Montserrat', sans-serif;
}
.image {
  height: 80px;
  width: 80px;
}

.nav-item , .poslovii a {
  text-transform: uppercase;
  text-decoration: none;
}
.parent {
  width: 100%;
  height: 400px;
}

.navbar-nav {
  text-align: center;
}

.slika {
  background-size: cover;
  min-height: 60vh;
}

.form-control {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding-left: 10px;
}

.form-control:focus {
  background-color: white;
  color: black;
}

.posao {
  width: 40vh;
  height: 25vh;
  object-fit: cover;
}

@media (min-width: 768px) {
  .trazi {
    width: 96%;
  }
}

.nnnn{
  height: 1000px;
}

.ada {
  padding: 60px 0;
}
@media (max-width: 576px) {
  .ada {
    padding: 35px;
  }
  .imeDrugiRed{
    display:block;
  }
}
@media (max-width: 1400px) {
  .imeDrugiRed{
    display:block;
  }
}
.ada:hover {
  background-color: #64B245;
  transition: background-color 0.5s;
}

.ada:active {
  background-color: #64B245;
  transition: background-color 0.5s;
}

.display-1 {
  text-transform: uppercase;
  
}

.naslovActiona {
  text-transform: uppercase;
  font-size: 60px;
}
  .ikonice{
    height: 150px;
    width:  150px;
  }
  @media (max-width: 576px) {
    .ikonice {
      width:  70px;
      height: 70px;
    }
  }
.head{
  
  background-size: 100% 100%;
  width: 100%;
}
.btn{
  font-family: 'Montserrat', sans-serif;
}
.btn-outlined{
  padding: 5px 25px;
  border-radius: 27px;
  margin: 0px 4px;
  margin-bottom: 10px;
  font-size: 12px;
  border:1px solid #ffffff;
  color: white;
  font-weight: bold;
  font-family:'Montserrat', sans-serif;
}
.btn-outlined:hover{
  color: #252525;
  background-color: white;
}
@media only screen and (max-width: 756px) {
  .popular {
      display: none;
  }
}
.search-phone-button{
  color: white;
  width: 100%;
  font-weight: bold;
  margin-bottom: 13px;

}
@media only screen and (min-width: 756px) {
  .search-phone-button {
      display: none;
  }
  .phone2-text {
    display: none;
}
}
@media only screen and (max-width: 756px) {
  .search-button {
      font-size: 15px;
  }
.section {
  display: none;
}
.phone-text {
  display: none;
}
}
.display-font{
  font-family: 'Grifter', sans-serif; 
  word-spacing: -2px;
  letter-spacing: 2px;
}
.display-font2{
  font-family: 'Grifter', sans-serif; 
  word-spacing: -10px;
  letter-spacing: 2px;
}
.display-font3{
  font-family: 'Grifter', sans-serif; 
  word-spacing: -7px;
  letter-spacing: 2px;
}
.popular-text{
  margin-right: 7px;
  font-size: 13px;
}
.naslov1{
  font-family: 'Grifter', sans-serif;
  letter-spacing: 1.5px;
  word-spacing: -3px;
}
.background-section {
  background-image: url('../slike/sectioncover.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
}
.podnaslov{
  font-size: 20px;
}
.icon-text{
  padding-top: 30px;
  
}
.desire-section{
  margin-bottom: 40px;
}
@media only screen and (min-width: 576px) {
    .desire-section {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
  .call-to-action{
    height: 300px;
    text-align: center;
  }
  .podnaslov1{
    font-size: 25px;
    
  }
  .fixit-sv{  
    height: 60px;
    
  }

  .hover-element:hover{
  background-color:#212529;
  opacity: 80%;
  }


  .register-img{
    border-radius: 5px;
  }





  .btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    font-size: 18px;
    background: #8dc63f;
    color: #fff;
  }
  
  svg {
    margin: 0 0 0 10px;
  }
  
  .btn-custom:hover svg {
    margin: 0 0 0 25px;
    transition: 0.3s;
  }
  
  .btn-custom:not(:hover) svg {
    transition: 0.3s;
  }
  
  .btn-custom:active {
    transform: scale(0.9, 0.9);
    transition: 200ms;
  }

  .btn-custom:not(:active) {
    transition: 200ms;
  }



  
  .btn-custom2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    font-size: 18px;
    background: #8dc63f;
    color: #fff;
  }
  
  svg {
    margin: 0 0 0 10px;
  }
  
  .btn-custom2:hover svg {
    margin: 0 0 0 25px;
    transition: 0.3s;
  }
  
  .btn-custom2:not(:hover) svg {
    transition: 0.3s;
  }
  
  .btn-custom2:active {
    transform: scale(0.9, 0.9);
    transition: 200ms;
  }
  
  .btn-custom2:not(:active) {
    transition: 200ms;
  }


  .btn-custom3 {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-size: 18px;
    background: #212529;
    color: #fff;
   
  }
  
  .btn-custom3:hover  {
    background: #31353a;
    transition: 0.3s;
  }
  
  .contact-text{
    font-size: x-large;
    text-align: center;
  }

  .btn-custom4 {
    text-decoration: none;
    padding: 20px 40px;
    font-size: 1em;
    position: relative;
    margin: 32px;
    border: none;
    background-color: #8dc63f;
    font-weight: 600;
  }
  
  .btn-custom4-1 {
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn-custom4-1::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
    transition: transform 0.5s ease;
  }
  
  .btn-custom4-1:hover {
    transform: translate(0, -6px);
  }
  .green-color-text{
    color: #8dc63f;
  }

  .green-color-text2{
    color: #6b9b28;
  }
  
  .border-green{
    border-color: #8dc63f;
    
  }

  .team-profiles{
    column-gap: 30px;
  }
  @media screen and (min-width: 992px) {
      .btn-doniraj{
        float: right;
      }
    }

    @media screen and (min-width: 991.98px) {
          .contact-text{
            margin-top: 70px;
          }
      }

      .col_white_amrc {
         color:#FFF;
        }
      footer { 
        width:100%;
         background-color:#212529;
          min-height:250px;
           padding:10px 0px 25px 0px ;
          }
      .pt2 {
         padding-top:40px ;
          margin-bottom:20px ;
        }
      footer p { font-size:13px;
         color:#CCC;
          padding-bottom:0px;
          margin-bottom:8px;
        }
      .mb10 {
         padding-bottom:15px ;
      }
      .footer_ul_amrc {
         margin:0px ;
        list-style-type:none ;
         font-size:14px; 
         padding:0px 0px 10px 0px ; 
        }
      .footer_ul_amrc li{
        padding:0px 0px 5px 0px;
      }
      .footer_ul_amrc li a{ 
        color:#CCC;
      }
      .footer_ul_amrc li a:hover{
         color:#fff; 
         text-decoration:none;
        }
      .fleft { 
        float:left;
      }
      .padding-right { 
        padding-right:10px;
       }
      
      .footer_ul2_amrc {
        margin:0px; 
        list-style-type:none;
         padding:0px;
        }
      .footer_ul2_amrc li p{ 
        display:table; 
      }
      .footer_ul2_amrc li a:hover { 
        text-decoration:none;
      }
      .footer_ul2_amrc li i {
         margin-top:5px;
        }
      
      .bottom_border { 
        border-bottom:1px solid #323f45;
         padding-bottom:20px;
        }
      .foote_bottom_ul_amrc {
        list-style-type:none;
        padding:0px;
        display:table;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
      }
      .foote_bottom_ul_amrc li { 
        display:inline;
      }
      .foote_bottom_ul_amrc li a {
         color:#999; 
         margin:0 12px;
        }
      
      .social_footer_ul { 
        display:table; 
        margin:15px auto 0 auto; 
        list-style-type:none;  
      }
      .social_footer_ul li {
         padding-left:20px; 
         padding-top:10px; 
         float:left; 
        }
      .social_footer_ul li a { 
        color:#CCC; 
        border:1px solid #CCC;
         padding:8px;
         border-radius:50%;
        }
      .social_footer_ul li i { 
         width:20px; 
         height:20px; 
         text-align:center;}

      .logo-footer{
        width: 100px;
       margin-bottom: 20px;
       margin-top: 9px;
      }
      .search-bar{
        height: 48px;
      }
      .search-button{
        height: 48px;
      }